<h1>New Comment for '<%= @post.title %>'</h1>

<%= form_for [@post, @comment] do |f| %>
  <p>Author: <%= f.text_field :author %></p>
  <p>Body: <%= f.text_area :body %></p>
  <p><%= f.submit %></p>
<% end %>

<%= link_to "Abort", post_path(@post) %>
