<!DOCTYPE html>
<html>
<head>
  <title>Blog-Games</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul id="nav">
  <li><%= link_to "Posts", posts_path %></li>
</ul>

<div id="content">
<%= yield %>
</div>

</body>
</html>
